body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}

header {
    background-image: url("/img/header.png");
    height: 85vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    padding-left: 0 !important;
    margin-left: -4px;
    overflow: hidden;
}

.navbar-brand {
    margin-top: 20px !important;
}

.hero-image {
    margin-top: 60px;
}

.hero-text{
    overflow: hidden;
}

.hero-text h1 {
    font-weight: bolder;
    font-size: 30px;
    line-height: 49px;
    margin-top: 60px;
    color: #fff;
}

.hero-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    margin-top: 28px;
}

.hero-form {
    margin-top: 45px;
}

.hero-form button {
    background-color: #4574D2;
    padding: 14px 48px;
    font-weight: bold;
}

.hero-form-input {
    margin-right: 17px;
    height: 52px;
}

.hero-form-input::placeholder {
    font-weight: 100;
}

.first-section {
    margin-top: 100px;
}

.work-card {
    overflow: hidden;
}

.how-it-works h1 {
    font-weight: bolder;
    font-size: 32px;
    margin-bottom: 60px;
}

.how-it-works h1::after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block;
    margin: 0 auto;
    width: 114px; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 4px solid #4574D2;
}

.how-it-works-card {
    background-color: transparent !important;
    border: none !important;
}

.how-it-works-img {
    float: left;
}

.how-it-works-text {
    color: #333333;
    font-size: 15px !important;
    margin-bottom: 0 !important;
    padding-top: 6px;
    padding-left: 15px;
    overflow: hidden;
}

.fs-hero-c {
    margin-top: 60px;
}

.screenshots h1 {
    font-weight: bolder;
    font-size: 32px;
    margin-bottom: 80px;
    margin-top: 20px;
}

.screenshots h1::after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block;
    margin: 0 auto;
    width: 100px; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 4px solid #4574D2;
}

.screenshots {
    overflow: hidden;
}


.second-section {
    background: url(/img/more-hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    margin-top: 60px;
}

.second-section h1 {
    color: #fff;
    font-size: 30px;
    line-height: 45px;
    font-weight: bolder;
}

.second-section p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.second-section button {
    padding: 18px 44px;
    margin-top: 30px;
    font-weight: bolder;
    background-color: #4574D2 !important;
}

.third-section {
    margin-top: 90px;
}

.third-section-intro {
    text-align: center;
    color: #000000;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 50px;
}

.price-container {
    padding: 0 300px;
}

.price-container-card {
    border-top: 6px solid #D55858;
    box-shadow: 0 4px 2px -2px gray;
}

.price-container-card-body {
    padding: 2rem !important;
    padding-right: 0 !important;
}

.price-container-card-body h5, .price-container-card-body h6 {
    color: #D55858 !important;
}

ul.free-features {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.free-features img {
    float: left;
    margin-top: 15px;
}

.free-features li {
    padding: 10px;
    padding-left: 2rem;
    vertical-align: middle;
    color: #BAAEAE;
    font-size: 16px;
}

.free-btn {
    margin-left: 30px;
    padding: 5px 30px;
    font-size: 16px;
}

.price-container-card_premium {
    border-top: 6px solid #3BA95A;
    box-shadow: 0 4px 2px -2px gray;
}

.price-container-card-body_premium {
    padding: 2rem !important;
    padding-right: 0 !important;
}

.price-container-card-body_premium h5, .price-container-card-body_premium h6 {
    color: #3BA95A !important;
}

ul.premium-features {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.premium-features img {
    float: left;
    margin-top: 15px;
}

.premium-features li {
    padding: 10px;
    padding-left: 2rem;
    vertical-align: middle;
    color: #3BA95A;
    font-size: 16px;
}

.premium-btn {
    margin-left: 15px;
    padding: 5px 30px;
    font-size: 16px;
}

.packages {
    margin:60px 0 70px 0 ;
}

.package-card {
    padding: 25px 45px 10px 45px !important;
    box-shadow: 0 4px 2px -2px gray;
}

.borderless {
    border-top: none !important;
}

.t-end {
    text-align: end;
}

th {
    color: #3BA95A;
}

.special-offer {
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 40px;
}

footer{
    background-color: #333333;
    padding: 1.7rem;
}

.footer-brand {
    margin-bottom: 30px;
}

footer h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.socials img {
    padding: 10px;
}

footer p {
    margin-top: 20px;
    color: #fff;
}

@media screen and (max-width: 1199px) { 

    .hero-image {
        margin-top: 110px;
    }

    .hero-text h1 {
        line-height: 42px;
    }

    .hero-form button {
        background-color: #4574D2;
        padding: 12px 25px;
        font-weight: bold;
    }
    
    .hero-form-input {
        margin-right: 17px;
        margin-bottom: 7px;
        height: 50px;
    }

    .how-it-works h1::after {
        width: 90px;
    }

    .screenshots h1::after {
        width: 90px;
    }

    .price-container {
        padding: 180px;
        padding-bottom: 0;
        padding-top: 40px;
    }

    .first-section {
        margin-top: 60px;
    }
    
    .how-it-works h1 {
        font-weight: bolder;
        font-size: 29px;
        margin-bottom: 20px;
    }

    .screenshots h1 {
        font-weight: bolder;
        font-size: 29px;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .how-it-works-img {
        float: left;
        margin-top: 5px;
        width: 25px;
        height: 25px;
    }
    
    .how-it-works-text {
        font-size: 13px !important;
    }

    .fs-hero-c {
        margin-top: 20px;
    }

    .second-section {
        margin-top: 70px;
    }

    .third-section {
        margin-top: 50px;
    }
    
    .third-section-intro {
        font-size: 30px;
        margin-bottom: 0;
        padding: 0 30px;
    }

    .price-pad {
        margin-bottom: 50px;
    }

    .free-btn {
        margin-left: 38px;
    }

    .premium-btn {
        margin-left: 20px;
    }

    .packages {
        margin:10px 0 60px 0 ;
    }
    
    .package-card {
        padding: 10px 15px 0 15px !important;
    }

    th{
        font-size: 12px;
    }

    .special-offer {
        font-size: 14px;
    }
}

@media screen and (max-width: 770px) { 

    .hero-image {
        margin-top: 65px;
    }
    
    .hero-text h1 {
        font-size: 24px;
        line-height: 35px;
        margin-top: 20px;
    }
    
    .hero-text p {
        font-size: 15px;
        line-height: 24px;
        margin-top: 18px;
    }
    
    .hero-form {
        margin-top: 15px;
    }
    
    .hero-form-input {
        margin-right: 17px;
    }

    .how-it-works h1::after {
        width: 90px;
    }

    .screenshots h1::after {
        width: 90px;
    }

    .price-container {
        padding: 80px;
        padding-bottom: 0;
    }

    .first-section {
        margin-top: 60px;
    }
    
    .how-it-works h1 {
        font-weight: bolder;
        font-size: 29px;
        margin-bottom: 0;
    }

    .screenshots h1 {
        font-weight: bolder;
        font-size: 29px;
        margin-bottom: 30px;
    }

    .how-it-works-img {
        float: left;
        margin-top: 5px;
        width: 25px;
        height: 25px;
    }
    
    .how-it-works-text {
        font-size: 13px !important;
    }

    .fs-hero-c {
        margin-top: 20px;
    }

    .third-section {
        margin-top: 50px;
    }
    
    .third-section-intro {
        font-size: 25px;
        margin-bottom: 0;
        padding: 0 30px;
    }

    .price-pad {
        margin-bottom: 50px;
    }

    .free-btn {
        margin-left: 38px;
    }

    .premium-btn {
        margin-left: 20px;
    }

    .packages {
        margin:10px 0 60px 0 ;
    }
    
    .package-card {
        padding: 10px 15px 0 15px !important;
    }

    th{
        font-size: 12px;
    }

    .special-offer {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {

    header {
        height: 100%;
    }

    .hero-text h1 {
        font-size: 24px;
        line-height: 35px;
        margin-top: 30px;
    }
    
    .hero-text p {
        font-size: 15px;
        line-height: 24px;
        margin-top: 18px;
    }
    
    .hero-form {
        margin-top: 15px;
        padding-bottom: 30px;
    }

    .hero-form button {
        background-color: #4574D2;
        padding: 8px 25px;
        font-weight: bold;
    }
    
    .hero-form-input {
        margin-right: 17px;
        height: 42px;
    }

    .how-it-works h1::after {
        width: 80px;
    }

    .screenshots h1::after {
        width: 90px;
    }

    .price-container {
        padding: 40px;
        padding-bottom: 0;
    }

    .first-section {
        margin-top: 60px;
    }
    
    .how-it-works h1 {
        font-weight: bolder;
        font-size: 27px;
        margin-bottom: 0;
    }

    .screenshots h1 {
        font-weight: bolder;
        font-size: 27px;
        margin-bottom: 30px;
    }

    .how-it-works-img {
        float: left;
        margin-top: 5px;
        width: 25px;
        height: 25px;
    }
    
    .how-it-works-text {
        font-size: 13px !important;
    }

    .fs-hero-c {
        margin-top: 20px;
    }

    .third-section {
        margin-top: 50px;
    }
    
    .third-section-intro {
        font-size: 25px;
        margin-bottom: 0;
        padding: 0 30px;
    }

    .price-pad {
        margin-bottom: 50px;
    }

    .free-btn {
        margin-left: 70px;
    }

    .premium-btn {
        margin-left: 55px;
    }

    .packages {
        margin:50px 0 60px 0 ;
    }
    
    .package-card {
        padding: 10px 15px 0 15px !important;
    }

    th{
        font-size: 12px;
    }

    .special-offer {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {

    .how-it-works h1::after {
        width: 80px;
    }

    .screenshots h1::after {
        width: 80px;
    }
    
    .how-it-works h1 {
        font-size: 25px;
        margin-bottom: 0;
    }

    .screenshots h1 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .how-it-works-img {
        float: left;
        margin-top: 8px;
        width: 25px;
        height: 25px;
    }

    .price-pad {
        margin-bottom: 50px;
    }

    .free-btn {
        margin-left: 50px;
    }

    .premium-btn {
        margin-left: 35px;
    }

    .packages {
        margin:50px 0 60px 0 ;
    }
    
    .package-card {
        padding: 5px 10px 0 10px !important;
    }

    th{
        font-size: 11px;
    }

    .special-offer {
        font-size: 12px;
    }
}